// ============================================
// Extends
// ============================================

// Links
%link {
  color: $color-secondary;
  font-weight: bold;
}

// Images
%img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

%img-border {
  border: 1px solid $color-body;
}

// Nav items
%nav-item-link {
  border-radius: $br-rounded;
  text-align: center;
  display: block;
  color: inherit;
  padding: em(13px) em(16px);
  &:hover {
    background-color: $color-primary;
    color: $white;
  }
}

// Buttons
%btn {
  color: $white;
  text-transform: uppercase;
  padding: em(13px);
  margin-bottom: em(16px);
  border: none;
  border-radius: $br-rounded;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
