// ==========================================================================
// Global Config
// ==========================================================================

// Font stacks
$font-family--primary : 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font weights
$font-weight--thin    : 100;
$font-weight--light   : 300;
$font-weight--medium  : 400;
$font-weight--bold    : 700;

// Letter spacing
$letter-spacing : 0.3px;

// Descriptive color variables
$white      : #fff;
$grey       : #828282;
$bermuda    : #7fdec2;  //turquoise
$malibu     : #7ad8f8;  //blue
$deyork     : #7ec989;  //green
$nypink     : #d67b7c;  //pink
$sienna     : #ec7f5f;  //orange
$majesty    : #8e7dbc;  //purple

// Functional color variables
$color-body       : $grey;

$color-primary    : $bermuda;
$color-secondary  : $malibu;

// Button color variables
$color-ui: (
  'default': $malibu,
  'success': $deyork,
  'error'  : $nypink,
  'warning': $sienna,
  'info'   : $majesty,
);

// Grid color variables
$color-grid: (
  '1': darken($grey, 10%),
  '2': darken($bermuda, 20%),
  '3': lighten($majesty, 20%),
  '4': lighten($malibu, 10%),
  '5': lighten($deyork, 10%),
  '6': darken($malibu, 28%),
  '7': lighten($nypink, 10%),
  '8': lighten($sienna, 10%),
  '9': lighten($majesty, 40%),
  '10': darken($sienna, 20%),
  '11': lighten($sienna, 5%),
  '12': darken($bermuda, 4%),
);

// Breakpoints
$breakpoints: (
  'xs': 575px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
);

// Border radius
$br-rounded: 0.25em;
