// ============================================
// Buttons
// ============================================

[class^=btn--] {
  @extend %btn;
  @include mq(md) {
    flex: 1;
    margin-left: em(16px);
    margin-right: em(16px);
  }
}

@each $type, $color in $color-ui {
  .btn--#{$type} {
    background-color: $color;
  }
}
