// ============================================
// Forms
// ============================================

.form {
  @include flex($dir: column);
  flex: 1;
  &__label--hidden {
    display: none;
  }
  &__input {
    border: none;
    outline: 0;
    border-bottom: 5px solid $color-primary;
    padding: em(16px);
    margin: em(16px) em(24px);
  }
}
