// Images
.img--logo {
  display: block;
  margin: 0.5em auto;
}

.img--frame {
  @extend %img-border;
  width: 100%;
  padding: 0.5em;
}

.img--avatar {
  padding-top: 1.2em;
  display: block;
  margin: auto;
}
