// ============================================
// Navigation
// ============================================

.nav {
  @include flex($dir: column);
  @include mq('md') {
    @include flex($dir: row, $jus: center);
    padding-top: em(20px);
  }
  &__item a {
    @extend %nav-item-link;
    @include mq('lg') {
      margin-left: em(8px);
      margin-right: em(8px);
    }
  }
}
