// ============================================
// Typography
// ============================================

.container {
  color: $color-body;
}

.link {
  @extend %link;
}

.blockquote {
  border-left: 7px solid $color-primary;
  border-radius: $br-rounded;
  padding-left: em(24px, 24px);
  margin-top: em(28px, 24px);
  margin-left: em(20px, 24px);
  font-size: em(24px);
  font-style: italic;
  line-height: 1.2;
}

.headline--primary {
  color: $color-primary;
  padding-left: em(16px, 32px);
  margin-bottom: em(32px, 32px);
}

.headline--secondary {
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  font-weight: $font-weight--light;
}
